services:
  ev-invoice-app:
    build: .
    container_name: ev-invoice-app
    ports:
      - "8080:8000"
    env_file:
      - .env
    volumes:
      - ./data:/app/data
    restart: unless-stopped
